@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.primaryBtn {
  font-size: 1rem;
  padding: 0.8em 2em;
  background-color: #171a36;
  border: 3px solid #b41e25;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px #b41e25;
}

.primaryBtn:hover{
  transform: translate(5px, -5px);
  cursor: pointer;
}

.videoSection{
  min-height:100vh;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.modal{
  z-index: 999;
}